# Ignore compiled Python files
*.pyc

# Ignore the virtual environment folder
venv/

# Ignore the cache folder
**/__pycache__/

# Ignore the pytest cache directory
pytest_cache/

# Ignore the cache folder
__pycache__/
